@{
    ViewData["Title"] = "Home Page";

    

}

<div class="text-center">
    <h1>Заголовок основного вмісту</h1>
    <p>Тут розміщується вміст вашої сторінки.</p>
    <p>Додайте більше контенту та стилізуйте його відповідно до ваших потреб.</p>
</div>
